$bg-color: #6c1d19;
$card-bg-color: #e8dada;
$main-title-color: #313131;
$paragraph-color: #999;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;}

html {
	text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
	z-index: 1;

body {
	display: block;
	line-height: 1.231;
	font-family: 'arial', helvetica, sans-serif;
	background-color: $bg-color;
	color: $paragraph-color;
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
	z-index: 1;
	
	a {
		text-decoration: none;
		color:$paragraph-color: 
	}
	
	.form-answer {
		position: fixed; 
		width: 100%; 
		height: 100%; 
		background: rgba(0,0,0,0.9); 
		z-index:400; 
		text-align:center;
		
		h2{
			padding-top:200px; 
			color:$paragraph-color;
		}
		
		a{
			color: white;
    		text-decoration: none;
		}
	}

	.registration-container {
		float: left;
		margin-left: 15%;
		width: 28%;
		max-width: 400px;
		background-color: $card-bg-color;
		opacity: 0.9;
		padding: 0px 12px 15px 12px;
		margin-top: 50px;
		margin-bottom: 48px;
		z-index: 300;
		position: absolute;

		@media screen and (min-width:2000px) /*Kindle Fire*/ {
		margin-left: 27%;
		max-width: 500px;
		margin-top: 280px;
		margin-bottom: 48px;
		}

		@media screen and (min-width: 768px) and (max-width: 1280px) {
		margin-left: 20%;
		width: 64%;
		}

		@media screen and (min-width:600px) and (max-width:800px) and (orientation: portrait) {
		width: 60%;
		left: 20%;
		margin: 0 auto;
		top: 10%;
		}

		@media screen and (max-width:768px) {
		width: 90%;
		left: 5%;
		margin-left: 0px;
		max-width: none;
		top: 5%;
		}
	}


		.card {
			width: 100%;
			height: auto;
			margin: 0 auto;
		}

		h1 {
			color: $main-title-color;
			font-weight: bolder;
			font-size: 18px;
			line-height: 1.4;
			margin-top: -20px;
			padding: 0px 0px 13px 0;
		}

		h2 {
			color: $main-title-color;
			font-weight: bold;
			font-size: 15px;
			line-height: 1.4;
			padding-bottom: 8px;
		}

		p  {
			color: $paragraph-color;
			font-size: 12px;
			line-height: 1.4;
			padding: 10px 0 10px 0;
		}

		ol {
			margin-left: 20px;
			margin-right: 10px;
			padding: 10px 0px 10px 0px; 
				li {
				font-size: 11px;
				padding-top: 5px;
				padding-bottom: 5px;
			 }
		}

		ul {
			list-style: none;
				li {
				font-size: 11px;
				padding-top: 5px;
				padding-bottom: 5px;
		 }
		}

		form {

		label {
			color: $main-title-color;
			text-transform: capitalize;
			display: block;
			padding-bottom: 0.25em;
		}

		input, select {
		  display: block;
		  font-size: 1.2em;
		  padding: 0.25em;
		  width: 100%;
		  margin-bottom:10px;
		  height: 30px;
		  border-radius: 0px;
		  border: 1px solid #BABABA;
		}

		.privacy-policy input {
			float: left;
			margin-bottom: 0px;
			width: 13px;
			height: 13px;
		}

		.privacy-policy label {
			font-size: 11px;
			line-height: 1.6;
			font-weight: 500;
		}

		button {
			width: 100%;
			font-size: 12px;
			color: #fff;
			text-transform: capitalize;
			border: 0px;
			padding: 10px;
			font-weight: bold;
			background-color: #323131;
			margin: 20px auto 20px auto;
			}
	  }

	.bg-image {
		background: url(/Assets/bg-image.gif) no-repeat;
		background-position: bottom;
		position: fixed;
		background-size: contain;
		width: 100%;
		min-height: 100%;
		margin: 0 auto;
		top: 100px;
		bottom: 0;
		z-index: 2;
		
		
		@media screen and (min-width:2000px)/*Kindle Fire*/{
		position: absolute;
		display: block;
		background-size: contain;
		width: 70%;
		height: auto;
		left: 28%;
		top: 300px;
		bottom: 0;
		}
		
		@media screen and (min-width: 768px) and (max-width: 1280px) {
		position: fixed;
		width: 63%;
		height: 100%;
		left: 25%;
		margin: 0 auto;
		}
		
		@media screen and (min-width:600px) and (max-width:800px) and (orientation: portrait) {
		background-size: cover;
		width: 100%;
		height: 100%;
		left: 0;
		}
		
		@media screen and (max-width:768px){
		display: none;
		}
	}

	#left{
		width:30%;
		height: 100%;
		float:left;
	}
  }
}